.project-grid {
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .back-image {
    position: fixed;
    top: 600px;
    z-index: 20;
    height: 800px;
    width: 750px;
    margin: 0 auto;
    padding-left: 10px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);

    background-image: url("../assets/treesBack2.jpeg");
    background-size: cover;
    background-position-y: 80%;
  }
  .square {
    width: 100px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 12px;
    background: #36454f;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.card {
  width: 400px;
  color: white;
  background: #36454f;
  margin: 10px 10px;
  display: inline-block;
  img {
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
}
